#app .cell{
  min-width: 50px;
  min-height: 50px;
  margin-left: -1px;
  border: 1px solid gray;
  font-family: monospace;
  overflow-x: hidden;
  display: inline-block;
  background-color: #BEDDDD;
}
#app .row{
  margin-bottom: -5px;
}
#app{
  width: 75%;
  margin: 0 auto;
}
#app .active{
  color: white;
  background-color: #5AC874;
}